<div class = "content" >

  <div class="container-fluid">
    <div class="row mb-2">
      <div class = "text-md-center">
        <h1></h1>
      </div>

    </div>
  </div>

  <div class = "container-fluid" style="width: 50% ; justify-content: space-between; top: 50%; position: inherit ">

    <div class="card card-primary" >
      <div class="card-header">
        <h3 class="card-title">Gestión de sucursales</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body" >
        <form role="form">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" [(ngModel)]="name" [ngModelOptions] = "{standalone: true}" class="form-control" placeholder="Ingresar nombre...">
          </div>
          <div class="form-group">
            <label>Provincia</label>
            <input type="text" [(ngModel)]="provincia" [ngModelOptions] = "{standalone: true}" class="form-control" placeholder="Ingresar provincia...">
          </div>
          <div class="form-group">
            <label>Cantón</label>
            <input type="text"[(ngModel)]="canton" [ngModelOptions] = "{standalone: true}"  class="form-control" placeholder="Ingresar cantón...">
          </div>
          <div class="form-group">
            <label>Distrito</label>
            <input type="text" [(ngModel)]="distrito" [ngModelOptions] = "{standalone: true}" class="form-control" placeholder="Ingresar distrito...">
          </div>
          <div class="form-group">
            <label>Teléfono</label>
            <input type="text" [(ngModel)]="celNumber" [ngModelOptions] = "{standalone: true}" class="form-control" placeholder="Ingresar teléfono...">
          </div>
          <div class="form-group">
            <label>Fecha de apertura</label>
            <input type="date" [(ngModel)]="dateOpen" [ngModelOptions] = "{standalone: true}" class="form-control" placeholder="Enter ...">
          </div>
          <div class="form-group">
            <label>Gerente</label>
            <input type="text" [(ngModel)]="manager" [ngModelOptions] = "{standalone: true}" class="form-control" placeholder="Ingresar la cédula del gerente...">
          </div>
          <div class="form-group">
            <label>Fecha de ingreso</label>
            <input type="date"  [(ngModel)]="dateStart" [ngModelOptions] = "{standalone: true}" class="form-control" placeholder="Enter ...">
          </div>

        </form>
      </div>
      <div class="card-footer" style="justify-content: center">
        <button type="submit" (click)="send()" class="btn btn-primary">Guardar</button>
      </div>
    </div>


  </div>

</div>

